<section class="container">

<div
  class="container  bg-image p-5 text-center shadow-1-strong rounded mb-5 text-dark"
  style="background-image: url(/images/cover-image.png);
  height: 50vh;
  width: 300vw;
  background-size: cover;"
>


  <h1 class="mb-3 h2">Channel your inner NINJA </h1>

  <p>
   Job hunting seems like a quest ? <br> 
   Let's make it easier ! 
   <h2>Track all your job applications in one place.</h2>
  </p>
<br>
 <a href="/signup" class="btn btn-primary btn-lg" data-toggle="button" aria-pressed="false" autocomplete="off"
 style=" background-color: #0097B2; border:0  ">Sign up</a>

 <a href="/login" class="btn btn-primary btn-lg" data-toggle="button" aria-pressed="false" autocomplete="off"
 style=" background-color: #0097B2; border:0  ">Log In</a>
<br>
<br>

<blockquote class="blockquote">
  <p class="mb-10 tagline">Trust your instincts, for they are the whispers of your ninja spirit.</p>
  <footer class="blockquote-footer"><cite title="Source Title">Anonymous Ninja</cite></footer>
</blockquote>

</div>



</section>




