
  <section id="hero" class="hero align-items-center mb-5">

    <div class="container">
      <div class="row" >
        <div class="col-lg-6 d-flex flex-column justify-content-center mt-4 mb-4">
          <h1 class="display-1">CHANNEL YOUR INNER NINJA</h1>
          <h2 class="lead">Job hunting seems like a ninja quest ? Let's make it easier, track and manage everything in one place</h2>
          <div >
            <div class="text-center text-lg-start">
              <a href="/signup" class="btn-home scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Sign Up</span> </a>

                <a href="/login" class="btn-home scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Log In</span> </a>
            </div>
            <br>
            <div>
<blockquote class="blockquote">
  <p class=" mb-10 tagline">Trust your instincts, for they are the whispers of your ninja spirit.</p>
  <footer class="blockquote-footer"><cite title="Source Title">Anonymous Ninja</cite></footer>
</blockquote>
</div>
          </div>
        </div>
        <div class="col-lg-6 hero-img">
          <img src="./images/hello-luis.png" class="img-fluid" alt="app">
        </div>
      </div>
    </div>

  </section>

    <section id="services" class="services">

      <div > <br>

        <header class="section-header">
          <h2>Features</h2>
          <p>Track and manage your job applications in one interface.</p>
        </header>

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" >
            <div class="service-box blue">
              <i class="ri-discuss-line icon"></i>
              <h3>Create Job Cards</h3>
              <p>Enter all important details about the job application you did</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="service-box orange">
              <i class="ri-discuss-line icon"></i>
              <h3>Edit your applications</h3>
              <p>Like a ninja, delete and manage all your existing job applications once you are finished with them</p>
            </div>
          </div>

          <div class=" col-lg-4 col-md-6" >
            <div class="service-box green">
              <i class="ri-discuss-line icon"></i>
              <h3>Companies diary</h3>
              <p>List all your prefered companies and rate them for a better vision</p>
            </div>
          </div>

          <div class=" col-lg-4 col-md-6">
            <div class="service-box red">
              <i class="ri-discuss-line icon"></i>
              <h3>Easier process</h3>
              <p>Meet deadlines, keep track of everything, it's going to be easier to know who to get back in touch with, and when</p>
            </div>
          </div>



        </div>

      </div>

    </section>
