<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{appTitle}}</title>

      
        <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />

      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

   <body>

       <nav class="navbar navbar-expand-lg navbar-dark  static-top">
        <div class="container">
          <a class="navbar-brand" href="/">
                <img src="../images/logo-navbar.png" alt="Nest Logo" height="70" >
           </a>

         <a href="/">Home</a>
         <a href="/positions">Positions</a>
         <a href="/positions/create">Create new position</a>
         <a href="/companies">Companies</a>
         <a href="/signup">Signup</a>
         <a href="/login">Login</a>

         <form id="logout-form" method="POST" action="/logout" >
            <button>Logout</button>
         </form>

      </nav>

      {{{body}}}

      <script src="/js/script.js"></script>

      
   </body>


		
</html>