body {
  background-color: #f1f0f0;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
  text-decoration: none;
}

h1 {
  color: 15px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 3rem;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

nav a {
  padding: 1rem;
  border-right: 1px solid #999;
}

nav a:last-child {
  border-right: none;
}

.warning {
  padding: 1rem;
  font-weight: bold;
  border: 1px solid rgb(255, 213, 135);
  background-color: rgb(255, 213, 135);
}

.cards {
  background-color: #0CC0DF;
}

.more-details {
  background-color: #0097B2;
}

.edit {
  background-color: #474444;
}

.delete {
  background-color: #FF5757;
}

.job-board {
  color: #0CC0DF;
}

.button-shadow {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.home-button {
  position: absolute;
  right:    auto;
  bottom:   auto;
}

.yellow-text {
  color: #FFBF00;
}

.hero {
  width: 100%;
  height: 50vh;
  background-size: cover;
}

.hero h1 {
  margin: 0;
  font-size: 48px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  color: #0097B2;
}

.hero h2 {
  color: #444444;
  margin: 15px 0 0 0;
  font-size: 26px;
}

.hero .btn-home {
  margin-top: 30px;
  line-height: 0;
  padding: 15px 40px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #FFBF00;
  box-shadow: 0px 5px 30px rgba(26, 27, 31, 0.4);
}

.hero .btn-home span {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}

.hero .btn-home i {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 18px;
  transition: 0.3s;
}

.hero .btn-home:hover i {
  transform: translateX(5px);
}

.hero .hero-img {
  display: flex;
  position: relative;
  text-align: right;
}
 
  .services .service-box {
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    height: 100%;
    padding: 60px 30px;
    text-align: center;
    transition: 0.3s;
    border-radius: 5px;
  }
  
  .services .service-box h3 {
    color: #444444;
    font-weight: 700;
  }
  
  .services .service-box.blue {
    border-bottom: 3px solid #2db6fa;
  }
  
  .services .service-box.blue .icon {
    color: #2db6fa;
    background: #dbf3fe;
  }
  
  .services .service-box.blue:hover {
    background: #2db6fa;
  }
  
  .services .service-box.orange {
    border-bottom: 3px solid #f68c09;
  }
  
  .services .service-box.orange .icon {
    color: #f68c09;
    background: #fde3c4;
  }
  
  .services .service-box.orange:hover {
    background: #f68c09;
  }
  
  .services .service-box.green {
    border-bottom: 3px solid #08da4e;
  }
  
  .services .service-box.green .icon {
    color: #08da4e;
    background: #cffddf;
  }

  .services .service-box.green:hover {
    background: #08da4e;
  }
  
  .services .service-box.red {
    border-bottom: 3px solid #e9222c;
  }
  
  .services .service-box.red .icon {
    color: #e9222c;
    background: #fef7f8;
  }
  
  .services .service-box.red:hover {
    background: #e9222c;
  }
  
  
  .services .service-box:hover h3,
  .services .service-box:hover p,
  .services .service-box:hover .read-more {
    color: #fff;
  }
  
  .services .service-box:hover .icon {
    background: #fff;
  }
  