<div class="container-fluid job-board text-center" style="max-width: 540px;">
<h2>Create a job card</h2>
</div>

<form method="POST" action="/positions/create">

  <label> Job title:
    <input type="text" name="title"/>
  </label>

    <label> Company:

    <select name="company">
        {{#each companiesArr}}
          <option value={{this._id}}>
            {{this.name}}
          </option>
        {{/each}}
    </select>

  </label>

  <label> Job description:
    <textarea name="description" cols="30" rows="4"> </textarea>
  </label>

    <label> Salary wish:
    <input type="number" name="salarywish" min="1" max="10000000"/>
  </label>

  <label> My rating:
    <input type="number" name="jobrating" min="1" max="10"/>
  </label>

  <button type="submit"> Add Job </button></form>

