<section class="card text-white bg-dark mb-3" style="max-width: 30rem;">
<div class="card-header text-center">
<h2>Create a job card</h2>
</div>

<div class="container-fluid job-board borderline" style="max-width: 340px;">
<form method="POST" action="/positions/create">
<div>
  <label class="card-title mt-3"> Job title:
    <input type="text" name="title" class="form-control-lg container-fluid mt-1" />
  </label>
</div>
<div>
    <label class="card-title mt-3"> Company: <br>

    <select name="company" class="form-control-lg container-fluid mt-1">
        {{#each companiesArr}}
          <option value={{this._id}}>
            {{this.name}}
          </option>
        {{/each}}
    </select>

  </label>
</div>
<div>  
  <label class="card-title mt-3"> Job description:
    <textarea name="description" cols="30" rows="4" class="form-control-lg container-fluid mt-1"> </textarea>
  </label>
</div>
    <label class="card-title mt-3"> Salary wish:
    <input type="number" name="salarywish" min="1" max="10000000" class="form-control-lg container-fluid mt-1"/>
  </label>
<div>
  <label class="card-title mt-3"> My rating:
    <input type="number" name="jobrating" min="1" max="10" class="form-control-lg container-fluid mt-1"/>
  </label>
</div>
  <button type="submit" class="btn btn-info text-light mt-3"> Add Job </button></form>
</div>
</section>