<div class="container-fluid job-board text-center" style="max-width: 540px;">
<h2>Create a job card</h2>
</div>

<form method="POST" action="/positions/create">
<div>
  <label> Job title:
    <input type="text" name="title" />
  </label>
</div>
<div>
    <label> Company:

    <select name="company" class="form-control" id="exampleFormControlInput1">
        {{#each companiesArr}}
          <option value={{this._id}}>
            {{this.name}}
          </option>
        {{/each}}
    </select>

  </label>
</div>
<div>  
  <label> Job description:
    <textarea name="description" cols="30" rows="4" class="form-control" id="exampleFormControlTextarea1"> </textarea>
  </label>
</div>
    <label> Salary wish:
    <input type="number" name="salarywish" min="1" max="10000000" />
  </label>
<div>
  <label> My rating:
    <input type="number" name="jobrating" min="1" max="10" />
  </label>
</div>
  <button type="submit" class="btn btn-info text-light"> Add Job </button></form>

