<h1>List of companies</h1>

{{#each companies}}
<section class="companies">
    <h2>{{this.name}}</h2>
    <p>
     Address : {{this.address.name}} <br>
     Country : {{this.country}}
    </p>
</section>
{{/each}}