<div class="container-fluid job-board text-center" style="max-width: 540px;">
<h1>List of companies</h1>
</div>

{{#each companies}}
<section class="companies">
    <h2>{{this.name}}</h2>
    <p>
     {{this.adress}} <br>
     {{this.country}}
    </p>
</section>
{{/each}}