<div class="container-fluid text-black text-center card text-white bg-dark mb-3" style="max-width: 540px;">
<h1>List of companies</h1>
</div>

{{#each companies}}
<section class="companies">
        <div class="container-fluid text-light text-center" style="max-width: 540px" >
        <section class="positions">

        <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="../images/buildingicon.png" class="img-fluid rounded-start" alt="building">
    </div>
    <div class="bg-dark col-md-8">
      <div class="card-body bg-dark">
        <h3 class="card-title text-light"><b>{{this.name}}</b></h3>
        <p class="card-text text-light"><b>Address:</b> {{this.address.street}} <br />
        <b>Postcode:</b> {{this.address.postCode}} <br />
            <b>Country:</b> {{this.country}} <br />
        </p>
        </form>
    </div>
  </div>
</div>
</section>
</div>

</section>
 {{/each}}